.right {
  float: right;
}

.btn-space {
  margin: 15px;
}

.bold {
  font-weight: bold;
}

.lineSpace {
  display: inline-block;
  margin: 8px 20px;
  text-align: center;
}

.even-row {
  background: rgba(0,0,0,0.09);
}

.odd-row {
  text-align: right;
}

.half-wide {
  width: 50%;
}

.align-right-margin {
  padding: 0 15px;
}

.dark-bg {
  background: rgba(0,0,0,0.09);
  display: inline-block;
  margin: 0 5px 20px 5px;
  padding-right: 10px;
  //border-radius: 10%;
}

.message-expand {
  font-size: 16px;
  margin: 15px;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid darkgray;
}

.message-expand span {
  display: inline-block;
  margin: 0 10px;
}

.unHappy {
  color: rgba(215, 60, 60, 0.9);
}

.happy {
  color: rgba(127, 191, 63, 0.9);
}