.right {
  float: right;
}

.btn-space {
  margin: 15px;
}

.bold {
  font-weight: bold;
}

.lineSpace {
  display: inline-block;
  margin: 8px 20px;
  text-align: center;
}

.even-row {
  background: rgba(0,0,0,0.09);
}

.odd-row {
  text-align: right;
}

.productSubmit {
  width: 50%;
  margin: 20px 0 5px 0;
}

.align-right-margin {
  padding: 0 15px;
}

.campaignInfo {
  display: inline-block;
  margin: 5px auto;
  padding-right: 10px;
}

.message-expand {
  font-size: 16px;
  margin: 15px;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid darkgray;
}

.message-expand span {
  display: inline-block;
  margin: 0 10px;
}

.unHappy {
  color: rgba(215, 60, 60, 0.9);
}

.happy {
  color: rgba(127, 191, 63, 0.9);
}

.campaigninfo {
  text-align: center;
  border: 1px solid darkgray;
  margin-bottom: 15px;
  border-radius: 10px;
}

.keywords {
  border-right: 1px solid darkgray;
  margin-right: 5px;
  padding-right: 5px;
}

.keywords-input {
  width: 80%;
  display: inline-block;
  margin: 0 0 12px 0;
}

.keyword-button {
  margin: 0 5px;
}

.keyword-button:hover {
  cursor: pointer;
}


.lastRepeat {
  border: none;
}

.campaignKeywords .form-control {
  margin: 5px 0;
}

.supportText {

}

.small {
  font-size: 10px;
}

.loginLinks {
  font-size: 18px;
  text-align: center;
}

.loginLinks a {
  margin: 0 15px;
}