<div class="row">
  <form ng-submit="submit()" novalidate>
    <div class="form-group">
      <label>Select Campaign to View</label>
      <select class="form-control" title="timeframe" ng-model="selectedCampaignsData">
        <option ng-repeat="item in campaignsData" value="{{item}}">{{item.createdAt}}</option>
      </select>
      <div class="row">
        <button type="submit" class="btn btn-space right">View Campaign</button>
      </div>
    </div>
  </form>
</div>
<label>Information about current campaign</label>
<div class="row campaigninfo">
  <div class="campaignInfo">
    <span class="bold lineSpace">Audience: </span><span class="">{{audience}}</span>
  </div>
  <div class="campaignInfo">
    <span class="bold lineSpace">Location: </span><span class="">{{location}}</span>
  </div>
  <div class="campaignInfo">
    <span class="bold lineSpace">Data Points: </span><span class="">{{datapoints}}</span>
  </div>
  <div class="campaignInfo">
    <span class="bold lineSpace">Keywords: </span><span class="keywords" ng-class="{'lastRepeat':$last}" ng-repeat="keyword in keywords">{{keyword}}</span>
  </div>
</div>