<form ng-submit="submit()"name="rpc.resetPasswordForm" novalidate>
  <div class="row">
    <div class="">
      <div class="form-group" ng-class="{'has-error': rpc.resetPasswordForm.email.$invalid && (rpc.resetPasswordForm.email.$dirty || rpc.resetPasswordForm.$submitted)}">
        <label for="resetEmail1">Email address</label>
        <input type="email" class="form-control" id="resetEmail1" name="email" placeholder="Email" ng-model="rpc.resetPassword.email" required>
        <span class="help-block error-block basic-block">Proper email required</span>
      </div>
    </div>
    <div class="">
      <div class="form-group" ng-class="{'has-error': rpc.resetPasswordForm.password.$invalid && (rpc.resetPasswordForm.password.$dirty || rpc.resetPasswordForm.$submitted)}">
        <label for="resetPassword">New Password</label>
        <input type="password" class="form-control" id="resetPassword" name="password" placeholder="New Password" ng-model="rpc.resetPassword.password" required>
        <span class="help-block error-block basic-block">Required</span>
      </div>
    </div>
  </div>
  <div class="right">
    <button type="submit" class="btn btn-danger login-space" ng-disabled="rpc.resetPasswordForm.$invalid">Reset</button>
  </div>
  <div ng-if="rpc.errorMessage" class="">
    {{rpc.errorMessage}}
  </div>
</form>

<!--<div ng-if="rpc.noCampaignsMessage" class="">-->
<!--<hr>-->
<!--<span class="help-block">There are no campaigns associated with this account would you like to create a campaign?</span>-->
  <!--<p class="loginLinks"><a href="#/form/products">Create Campaign</a>  |  <a href="#">Contact Us</a></p>-->
  <!--<p class="supportText small text-center">If you have not recieved your on-boarding email you will not be able to create a campaign.</p>-->
<!--</div>-->
