
<form ng-submit="createCampaign(data)" name="tc.adminAddCampaignForm" novalidate>

    <div class="col-md-6">

        <div class="form-group">
            <label>Enter User ID that owns this Campaign</label>
            <input class="form-control" placeholder="User Id" ng-model="tc.adminAddCampaign.userID">
        </div>

        <div class="form-group">
            <label>Select Product</label>
            <select class="form-control" placeholder="Select Product" title="Product" ng-model="tc.adminAddCampaign.product" ng-options="item.name for item in tc.productListTableData" required>
            </select>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error': tc.adminAddCampaignForm.audience.$invalid && (tc.adminAddCampaignForm.audience.$dirty || tc.adminAddCampaignForm.$submitted)}">
            <label for="campaignAudience">Desired Audience</label>
            <input type="text" class="form-control" id="campaignAudience" name="audience" placeholder="The target audience or demographic for this campaign?" ng-model="tc.adminAddCampaign.audience" required>
            <span class="help-block error-block basic-block">Required</span>
        </div>

        <div class="form-group" ng-class="{'has-error': tc.adminAddCampaignForm.location.$invalid && (tc.adminAddCampaignForm.productId.$dirty || tc.adminAddCampaignForm.$submitted)}">
            <label for="campaignLocation">Location Requirements</label>
            <input type="text" class="form-control" id="campaignLocation" name="location" placeholder="Does your Campaign limited to a specific location?" ng-model="tc.adminAddCampaign.location">
            <span class="help-block error-block basic-block">Required</span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>How far back is useful information</label>
            <select class="form-control" title="timeframe" ng-model="tc.adminAddCampaign.timeframe" selectpicker>
                <option value=".25">One Week</option>
                <option value=".5">Two Week</option>
                <option value="1">One Month</option>
                <option value="3">Three Months</option>
                <option value="6">Six Months</option>
                <option value="12">Twelve Months</option>
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Purpose of Campaign</label>
            <select class="form-control" title="intent" ng-model="tc.adminAddCampaign.intent" selectpicker>
                <!--<option selected>What is the purpose of the campaign?</option>-->
                <option>Lead Generation</option>
                <option>Drive Traffic</option>
                <option>Online Promotion</option>
                <option>Increase Followers</option>
                <option>Customer Satisfaction Feedback</option>
            </select>
        </div>
    </div>

    <!--<div class="col-md-6">-->
        <!--<div class="form-group has-feedback"-->
             <!--ng-class="{'has-error': tc.adminAddCampaignForm.productName.$invalid && (tc.adminAddCampaignForm.productName.$dirty || tc.adminAddCampaignForm.$submitted)}">-->
            <!--<label for="campaignKeywords">Competitive Keywords</label>-->
            <!--<input type="text" class="form-control" id="campaignKeywords" name="keywords" placeholder="Keywords associated with your Campaign" ng-model="tc.adminAddCampaign.keywords" required>-->
            <!--<span class="help-block error-block basic-block">Required</span>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group has-feedback"
         ng-class="{'has-error': tc.adminAddCampaignForm.productName.$invalid && (tc.adminAddCampaignForm.productName.$dirty || tc.adminAddCampaignForm.$submitted)}">
        <label>Competitive Keywords (At least one required)</label>
        <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="tc.adminAddCampaign.keywords[0]" required/>
        <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="tc.adminAddCampaign.keywords[1]"/>
        <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="tc.adminAddCampaign.keywords[2]"/>
        <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="tc.adminAddCampaign.keywords[3]"/>
        <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="tc.adminAddCampaign.keywords[4]"/>
        <span class="help-block error-block basic-block">Required</span>
    </div>

    <button type="submit" class="btn btn-danger">Submit</button>
</form>