<div class="vertical-scroll">
    <table class="table table-striped">
        <thead>
        <tr>
            <!--<th class="table-id">#</th>-->
            <th>Client</th>
            <!--<th>Select to upload</th>-->
            <th>Campaign ID</th>
            <th>Payment Status</th>
            <th>Payment Date</th>
            <th>Upload</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <!--<tr ng-repeat="item in campaignListTableData">-->
            <td class="table-id">Hansya</td>
            <td>XxsdsdfghFfdgh5dg2g5</td>
            <!--<td>{{item.lastName}}</td>-->
            <td>Awaiting Payment</td>
            <td>December 03, 2016</td>
            <td><a ng-click="uploadFile(item.id)">Upload</a></td>
        </tr>
        </tbody>
    </table>
</div>