<div class="vertical-scroll">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Client</th>
            <th>Campaign ID</th>
            <th>Payment Status</th>
            <th>Payment Date</th>
            <th>Upload</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in tc.campaignListTableData">
            <td class="table-id">{{item.company}}</td>
            <td>{{item.id}}</td>
            <td>{{item.paid}}</td>
            <td>{{item.requestedDate}}</td>
            <td><a id="file" type="file" ng-click="uploadFile(item.id)">Upload</a></td>
        </tr>
        </tbody>
    </table>
</div>