<div class="vertical-scroll">
    <div class="row col-md-6">
        <label>Create Product</label>
        <div class="form-group  has-feedback">
            <input type="Text" class="form-control" id="productName" name="name" placeholder="Product Name" ng-model="tc.productInfo.name" required>
        </div>
        <div class="form-group  has-feedback">
            <input type="Text" class="form-control" id="productprice" name="price" placeholder="Price" ng-model="tc.productInfo.price" required>
        </div>
        <div class="form-group  has-feedback">
            <input type="Text" class="form-control" id="productShortDescription" name="shortDescription" placeholder="Short Description" ng-model="tc.productInfo.description" required>
        </div>
        <div class="form-group  has-feedback">
            <input type="Text" class="form-control" id="dataPoints" name="dataPoints" placeholder="Data Points" ng-model="tc.productInfo.datapoints" required>
        </div>
        <button class="btn btn-danger" ng-click="postProduct(data)">Submit</button>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Impressions</th>
            <th>price</th>
            <th>date created</th>
            <th>short description</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in tc.productListTableData">
        <!--<tr ng-repeat="item in productListTableData">-->
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.datapoints}}</td>
            <td>{{item.price}}</td>
            <td>{{item.createdAt}}</td>
            <td>{{item.description}}</td>
            <td><a ng-click="deleteProduct(item.id)">Kill</a></td>
        </tr>
        </tbody>
    </table>
</div>