<div class="row">
  <div class="row centerBlock" ng-if="!pc.selectedProduct.name">
    <button class="btn product" ng-click="addProduct(product)" ng-repeat="product in pc.productInfo">
      <span>{{product.name}} Package</span><br>
      <span>${{product.price}}</span><br>
      <span>{{product.datapoints}} Data Points</span><br>
      <span class="wrap">{{product.description}}</span>
    </button>
  </div>
  <div class="row centerBlock" ng-if="pc.selectedProduct.name">
    <button class="btn product">
      <span>{{pc.selectedProduct.name}} Package</span><br>
      <span>${{pc.selectedProduct.price}}</span><br>
      <span>{{pc.selectedProduct.datapoints}} Data Points</span><br>
      <span class="wrap">{{pc.selectedProduct.description}}</span>
    </button>
    <button class="btn product" ng-click="editProductSelection()">Edit Product Selection</button>
  </div>
</div>
<form ng-submit="submit()" name="pc.campaignInfoForm" novalidate>

  <div class="col-md-6">
    <div class="form-group has-feedback"
         ng-class="{'has-error': pc.campaignInfoForm.audience.$invalid && (pc.campaignInfoForm.audience.$dirty || pc.campaignInfoForm.$submitted)}">
      <label for="campaignAudience">Desired Audience</label>
      <input type="text" class="form-control" id="campaignAudience" name="audience" placeholder="The target audience or demographic for this campaign?" ng-model="pc.campaignInfo.audience" required>
      <span class="help-block error-block basic-block">Required</span>
    </div>
    <div class="form-group" ng-class="{'has-error': pc.campaignInfoForm.location.$invalid && (pc.campaignInfoForm.productId.$dirty || pc.campaignInfoForm.$submitted)}">
      <label for="campaignLocation">Location Requirements</label>
      <input type="text" class="form-control" id="campaignLocation" name="location" placeholder="Does your Campaign limited to a specific location?" ng-model="pc.campaignInfo.location">
      <span class="help-block error-block basic-block">Required</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label>How far back is useful information</label>
      <select class="form-control" title="timeframe" ng-model="pc.campaignInfo.timeframe" selectpicker>
        <option value=".25">One Week</option>
        <option value=".5">Two Week</option>
        <option value="1">One Month</option>
        <option value="3">Three Months</option>
        <option value="6">Six Months</option>
        <option value="12">Twelve Months</option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label>Purpose of Campaign</label>
      <select class="form-control" title="intent" ng-model="pc.campaignInfo.intent" selectpicker>
        <!--<option selected>What is the purpose of the campaign?</option>-->
        <option>Lead Generation</option>
        <option>Drive Traffic</option>
        <option>Online Promotion</option>
        <option>Increase Followers</option>
        <option>Customer Satisfaction Feedback</option>
      </select>
    </div>
  </div>

  <!--<div class="col-md-6">-->
    <!--<div class="form-group has-feedback"-->
         <!--ng-class="{'has-error': pc.campaignInfoForm.productName.$invalid && (pc.campaignInfoForm.productName.$dirty || pc.campaignInfoForm.$submitted)}">-->
      <!--<label for="campaignKeywords">Competitive Keywords</label>-->
      <!--<input type="text" class="form-control" id="campaignKeywords" name="keywords" placeholder="Keywords associated with your Campaign" ng-model="pc.campaignInfo.keywords" required>-->
      <!--<span class="help-block error-block basic-block">Required</span>-->
    <!--</div>-->
  <!--</div>-->

  <div class="col-md-6 campaignKeywords" ng-class="{'has-error': tc.adminAddCampaignForm.productName.$invalid && (tc.adminAddCampaignForm.productName.$dirty || tc.adminAddCampaignForm.$submitted)}">
    <label>Competitive Keywords (At least one required)</label>
    <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="pc.campaignInfo.keywords[0]" required/>
    <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="pc.campaignInfo.keywords[1]"/>
    <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="pc.campaignInfo.keywords[2]"/>
    <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="pc.campaignInfo.keywords[3]"/>
    <input type="text" value="" class="form-control" placeholder="Add a Keyword" ng-model="pc.campaignInfo.keywords[4]"/>
  </div>


  <div class="col-md-6 row productSubmit">

      <button type="submit" class="btn btn-success" ng-disabled="pc.campaignInfoForm.$invalid">Purchase</button>


    <!--<div ng-if="submitted" class="right">-->
      <!--<form action="/your-server-side-code" method="POST">-->
        <!--<script-->
                <!--src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
                <!--data-key="pk_test_XxAEu7EUD1EXhOa10G2FTj2v"-->
                <!--data-amount={{priceToSubmit}}-->
                <!--data-name="Stripe.com"-->
                <!--data-description="Widget"-->
                <!--data-image="https://stripe.com/img/documentation/checkout/marketplace.png"-->
                <!--data-locale="auto"-->
                <!--data-zip-code="true">-->
        <!--</script>-->
      <!--</form>-->
    <!--</div>-->

  </div>
</form>

<div ng-if="submitted" class="row has-feedback stripe-form col-md-6">
  <form stripe-form="stripeCallback" name="checkoutForm">
    <input ng-model="number" placeholder="Card Number" class="form-group"
           payments-format="card" payments-validate="card"/>
    <input ng-model="expiry" placeholder="Expiration" class="form-group"
           payments-format="expiry" payments-validate="expiry"/>
    <input ng-model="cvc" placeholder="CVC" payments-format="cvc" class="form-group" payments-validate="cvc"/>
    <button class="btn" ng-click="stripeCallback">Make Payment</button>
  </form>
</div>

<div ng-if="checkoutForm.card.$invalid">
  Error: invalid card number!
</div>

<div ng-if="cardVerified" class="card-verified-message">
    <p>Thank you for working with the team at Hansya. You will receive an email when your campaign has been prepared for you.<a href="http://www.hansya.com"> Return to Hansya.com</a></p>
</div>

